.text {
  font-size: 50px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  margin-bottom: 50px;
  border-radius: 4px;
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}

.text:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 960px) {
  .text {
    font-size: 32px;
    width: 300px;
  }
}